<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect all traffic to index.php if file or folder does not exist
  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.php [L]
</IfModule>
